venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,bak
.hypothesis/
instance/
.migrate/
.DS_Store
.Python35/
.Python36/
.Python37/
.Python38/
.Python39/
.Python310/
.Python311/
.Python312/
